/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', monospace;
  line-height: 1.3;
  font-size: 18px;
  display: grid;
  gap: 40px;
}

.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
  left: 10px;
  bottom: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
  top: 10px;
  right: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  border-radius: 0;
  inline-size: 70px;
  block-size: 26px;
  font-size: inherit;
  text-transform: lowercase;
  background-color: transparent;
  font-weight: normal;
  line-height: 1;
  color: var(--button-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-block-end: 1px solid var(--button-color);
  outline: transparent;
}

.header__rec {
  display: none;
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  right: 19px;
  top: 10px;
}

.header__rec::after {
  content: "";
  display: none;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  vertical-align: middle;
}

.title-decor {
  color: var(--text-color-decor);
  background-color: var(--accent-color);
}

.decorated-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

.header__content {
  font-weight: bold;
  align-self: center;
}


/* Стили для блока maim */


.main {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  padding: 0 10px;
  gap: 20px;
}

.section__title {
  color: var(--text-color-section-title);
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

.cards {
  display: grid;
  gap: 20px;
}

.cards__item-title {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  margin-block-end: 10px;
}

.subcards__item-title {
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.cards__item-content a {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.cards__item-content a:hover {
  border-block-end: 1px solid var(--text-color);
}

.cards__item-content a:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__images {
  gap: 10px;
}

.section__images .section__title {
  color: var(--text-color-decor);
}

.images {
  display: grid;
  gap: 10px;
}

.images__item {
  font-size: 0;
}

.images__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}


/*  стили для блока footer*/


.footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 0 10px;
  align-items: center;
  justify-items: center;
}

.footer .decorated-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}


/* адаптив для разрешений больше 768px */


@media (min-width: 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: 20px;
  }

  .section,
  .footer {
    padding: 0 20px 0;
  }

  .header__rec {
    right: 29px;
    top: 20px;
  }

  .decorated-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header .decorated-title {
    margin-inline-start: -20px;
  }

  .header__content {
    inline-size: 50%;
    justify-self: end;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .main {
    gap: 80px;
  }

  .cards__item-title {
    margin-block-start: 0;
  }

  .section__column {
    grid-template-columns: 1fr 2fr;
  }

  .section__what .section__title {
    width: calc(1/3 * 100% - 10px);
  }

  .section__images {
    gap: 20px;
  }

  .images {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .images__item-sunset {
    grid-area: sunset;
    aspect-ratio: 479 / 192;
  }

  .images__item-ice-cream {
    grid-area: ice-cream;
    aspect-ratio: 229 / 442;
  }

  .images__item-tape {
    grid-area: tape;
    aspect-ratio: 229 / 568;
  }

  .images__item-books {
    grid-area: books;
    aspect-ratio: 1 / 1;
  }

  .images__item-street {
    grid-area: street;
    aspect-ratio: 479 / 318;
  }
}


/* адаптив для разрешений больше 1024px */


@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
  }

  .section__column {
    gap: 10px;
  }

  .section__what .cards {
    grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
  }

  /* в макете для разных разрешений разное соотношение сторон изображений */

  .images__item-sunset {
    aspect-ratio: 650 / 260;
  }

  .images__item-ice-cream {
    aspect-ratio: 314 / 595;
  }

  .images__item-tape {
    aspect-ratio: 315 / 768;
  }

  .images__item-street {
    aspect-ratio: 649 / 433;
  }
}
